# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=bazzite-image

# Make this the same as your github username/organisation
REPO_ORGANIZATION="sboissez"

IMAGE_DESC="My custom Bazzite image"
IMAGE_KEYWORDS="bootc,oci,linux"

DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
